.container {
    max-width: 1000px;
    margin: 50px auto;
}

footer {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.photo {
    width: 30%;
    height: 30%;
}

ul {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 50px;
}

li {
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 0;
}

p {
    margin-top: 8px;
}